html, body {
	background-color: $backgroundColor;
	font: 100%;
	font-family: latoR;
	height: 100%;
	margin: 0;
	width: 100%;
  	-webkit-font-smoothing: antialiased;
}

.flex {
	align-items: stretch;
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	justify-content: flex-start;

	& > * {
		min-height: 100%;
	}
}

li {
	list-style: none;
}

.check{
  border: solid 2px #717171;
  width: 10px;
  height: 10px;
  display:block;
  @include border-radius(2px);
}