.left_content {
	background-color: $textPrimaryColor;
	border-right: 1px solid $dividerColor;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 10em;
	order: 1;
	width: 10em;

  	ul{
	  margin-top: 0;
	  padding:0;
	  font-family: 'Lato', sans-serif;
	  font-size: 1em;

		a{
		  width: 100%;
		  display: block;
		  text-decoration: none;
		  color: $primaryTextColor;
		  padding-top: 1em;
		  padding-bottom: 1em;
		  border-bottom: solid 1px $menuBorderColor;
		  position: relative;
		}

	  	a::before{
		  margin-left: 1em;
		  margin-right: 1em;
		  color: $menuIconColor;
		}
	  	.dataviz::before{
		  content:url("../images/icons/charts.png");
		}

	  	.dataviz.active::before{
		  content:url("../images/icons/charts-active.png");

		}

	  	.time::before{
		  content:url("../images/icons/time.png");
		}

		.time.active::before{
		  content:url("../images/icons/time-active.png");
		}

		.notes::before{
		  content:url("../images/icons/pencil-menu.png");
		}

		.notes.active::before{
		  content:url("../images/icons/pencil-active.png");
		}

	  	.credits::before{
		  content:url("../images/icons/credit.png");
		}

		.credits.active::before{
		  content:url("../images/icons/credit-active.png");
		}

	  	.deconnexion::before{
		  content:url("../images/icons/logout.png");
		}

		.deconnexion.active::before{
		  content:url("../images/icons/logout-active.png");
		}

	  .active, a.active::before {
		/* Lien actif */
		color: $primaryColor;
	  border-bottom: none;
	  }

	  li:last-child a{
		border-bottom: none;
	  }

	}
}


.logo {
	background-color: $darkPrimaryColor;
	height: 30%;
	min-height: 20%;
	width: 100%;

	img {
		margin: 1.8em 0 0 2.4em;
	}
}