main {

	height: 100%;
	order: 2;
	margin: auto;

  	#materialbutton{
	  position: fixed;
	  background-color:$pinkColor;
	  width: 56px;
	  height: 56px;
	  border:none;
	  @include border-radius(50%);
	  @include box-shadow(0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28));
	  box-sizing:content-box;
	  cursor: pointer;
	  outline: none;
	  padding: 0;
	  pointer-events: auto;
	  bottom:1.5em;
	  right:7.5em;
	}
}
