header
  .search
    img(src="images/icons/search.png", ng-click="search = !search")
  .settings
    img(src="images/icons/settings.png")
  .mainNav
    nav(ng-hide = "search" class="transition navCentral")
      a(href="#") Promo 3a
      a(href="#") Promo 4a
      a(href="#").active Promo 5a
      a(href="#") A surveiller
      a(href="#") TOUS
      img(src="images/icons/add_category.png" class="add-categ")
    input(ng-show="search" name="RechercheGenerale" placeholder="Recherche")
#content(ui-view="contentCentral")
