header.box
   .left_header
      img(src="images/icons/search.png", ng-click="search = !search")
      span.border
   .right_header
      span.border
      img(src="images/icons/settings.png")
   .center_header
      nav(ng-hide = "search" class="transition")
         a(href="#") PROMO 3A
         a(href="#") PROMO 4A
         a(href="#") A surveiller
         a(href="#") TOUS
         a(href="#") +
      input(ng-show="search" name="RechercheGenerale" placeholder="Recherche")
#content(ui-view="contentCentral")