div(ng-controller="dashboardIndicateur as dashboardCtrl")
    input(ng-model='dashboardCtrl.titre', placeholder='Titre', required='')
    input(ng-model='dashboardCtrl.type', palceholder='type', required='')
    button(ng-click='dashboardCtrl.ajouterNouvelIndicateurBloc()') Ajouter un nouvel indicateur {{dashboardOptions}}
    indicateur-area(options='dashboardCtrl.indicateurBlocsPanel'  on-supp='dashboardCtrl.supprimerIndicateurBloc(indicateurBloc)')


    div#addnote()
        h3 Ajouter une note
        input#titrenote(type="text")
        textarea#textnote
        label(for="sharenote") Partagée
        input#sharenote(type="checkbox")
        input#shareuser(type="text")
        button(type="button") +
        input(type="submit" ng-click="alert()" value="Ajouter")

    div#addGroup
        h3 Ajouter un groupe
        textarea#textnote
        button(type="button") +
        span
            label ind
            input(type="text" name="ind" ng-model="dashboardCtrl.ind")
        span
            label type
            input(type="text" name="type" ng-model="dashboardCtrl.type")
        span
            label users
            input(type="text" name="type" ng-model="dashboardCtrl.users")
        input(type="submit" ng-click="dashboardCtrl.addgroup()")
