section.logo
   img(src="images/logo-travis.png")
section
   nav
      ul
         li
            a.dataviz(ui-sref="dashboard.dataviz") Data viz
         li
            a.time(ui-sref="dashboard.timemachine") Time Machine
         li
            a.notes(ui-sref="dashboard.notes") Notes
         li
            a.credits(ui-sref="dashboard.credits") Credits
         li
            a.deconnexion Déconnexion
