#logo
   img(src="images/travis-logo.png")
#profil
   nav
      a(ui-sref="dashboard.dataviz") Data viz
      a(ui-sref="dashboard.timemachine") Time Machine
      a(ui-sref="dashboard.notes") Notes
      a(ui-sref="dashboard.credits") Credits