.leftLayout
  section.logo
    img(src="images/logo-travis.png")
  section
    nav
      ul
        li 
        	a(ui-sref="dashboard.dataviz")Dataviz
        li 
			a(ui-sref="dashboard.timemachine")Time machine
        li
        	a(ui-sref="dashboard.notes") Notes 
        li
        	a(ui-sref="dashboard.credits") Credits 
        li Déconnexion