//
   Created by jonathancoulon on 30/12/14.

div#searchnote
div(ng-controller="NoteController")
   div#noteslist
      //(ng-notes)
     div.note(ng-repeat="note in userNote.noteList" content="notes")
      h2.titre {{note.Titre}}
      div.text {{note.Note}}
      div

   div#sharenoteslist
