//
   Created by jonathancoulon on 30/12/14.

div#searchnote

div#noteslist(ng-notes)
   div.note
      h2.titre Titre
      div.text Contenu de la note This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem qui bibendum auctor, ...
      div

div#sharenoteslist
