ul
   li
      div(style="background-color:#fec006").name T
      div.remove
   li
      div(style="background-color:#9b26af").name G
      div.remove
   li
     img(src="images/icons/add_student.png")

