ul#listeetudiant
  li
    div(style="background-color:#983b97").name
    div.remove
  li
    div(style="background-color:#81b204").name
    div.remove
  li
    div(style="background-color:#ff492c").name
    div.remove
  li
    div.name
      img(src="images/icons/add_student.png")