//
   Created by jonathancoulon on 30/12/14.
.timemachine-form
   form
      p
         span.phrase J'aimerais voir le profil de
         input(type="text" placeholder="John Doe")
      p
         span.phrase de
         input(type="date")
         span.phrase à
         input(type="date")


   input(type="button" value="Valider").validFormTime
