extends layout
block content
    #container(ui-view="masterView")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="/bower_components/angular-animate/angular-animate.min.js")
    script(src="/bower_components/chartjs/Chart.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="js/notes/addnotes.js")
    script(src="js/notes/notes.js")
    link(rel='stylesheet',href="/bower_components/angular-chart.js/dist/angular-chart.css")
    script(src="/bower_components/angular-chart.js/dist/angular-chart.js")
    script(src="js/routes.js")
    script(src="js/connexion/connexion.js")
    script(src="js/notes/autocomplete-note.js")
    script(src="js/autocomplete/autocomplete.js")
    script(src="js/controllers/controller.js")
    script(src="js/directives/indicateurArea.js")
    script(src="js/directives/indicateurBloc.js")
    script(src="js/directives/chartBloc.js")

