extends layout

block content
  #container
    #left_content
      img(src="images/travis-logo.png")#logo
    #right_content
      ul#listeetudiant
        li
          div(style="background-color:#983b97").name
          div.remove
        li
          div(style="background-color:#81b204").name
          div.remove
        li
          div(style="background-color:#ff492c").name
          div.remove
        li
          div.name
            img(src="images/add_student.png")
    main
      header.box
        span 
          img(src="images/search.png")
        span.border
        nav
          a(href="#") PROMO 3A
          a(href="#") PROMO 4A
          a(href="#") A surveiller
          a(href="#") TOUS
          a(href="#") +
        span.border
        span 
          img(src="images/settings.png")
  #container(ng-controller="global_controller")
    #left_content

    #right_content
    main
      header.box
        span(ng-click="search = !search") {{search}}
        span.border
        #box
          nav(ng-hide = "search" class="transition")
            a(href="#") PROMO 3A
            a(href="#") PROMO 4A
            a(href="#") A surveiller
            a(href="#") TOUS
            a(href="#") +
            label(ng-show="search" class="transition") azezaezaezeazezaeaz
        span.border
        span option
  script(src="/bower_components/angular/angular.js")
  script(src="/bower_components/angular-animate/angular-animate.js")
  script(src="js/controller.js")
