extends layout

block content
  #container
    #left_content

    #right_content
    main
      header.box
        span search
        span.border
        nav
          a(href="#") PROMO 3A
          a(href="#") PROMO 4A
          a(href="#") A surveiller
          a(href="#") TOUS
          a(href="#") +
        span.border
        span option
