doctype html
html(ng-app="TravisAPP")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


    base(href="/")

  body(ng-controller="GlobalController")
    block content


    script(src='http://localhost:35729/livereload.js')
