doctype html
html(ng-app="TravisAPP")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/fonts/awesome/font-awesome.min.css')


    base(href="/")

  body.flex(ng-controller="GlobalController" ui-view="masterView")
    block content


    script(src='http://localhost:35729/livereload.js')
