<header class="box">
    <div id="left_header"><img src="images/search.png" ng-click="search = !search"/><span class="border"></span></div>
    <div id="right_header"><span class="border"></span><img src="images/settings.png"/></div>
    <div id="center_header">
        <nav ng-hide="search" class="transition"><a href="#">PROMO 3A</a><a href="#">PROMO 4A</a><a href="#">A surveiller</a><a href="#">TOUS</a><a href="#">+</a></nav>
        <input ng-show="search" name="RechercheGenerale" placeholder="Recherche"/>
    </div>
</header>