@font-face {
    font-family: latoR;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: latoR;
}

#container{
    overflow: auto; /* Integre les float dans le flux d'elts */
    height: 100%;
}

/** Taille menu gauche**/
#left_content{
    width : 11%;
    height: 100%;
    float: left;
    position: relative;
}

#logo{
    width: 90%;
    margin: 30% auto auto 5%;
    height: auto;
}

/** Taille menu droit **/
#right_content{
    width: 6.25%;
    height: 100%;
    float: right;
}

/**Couleur menu */
#left_content, #right_content{
    background:url(../images/motif.png);
}

#right_content #listeetudiant{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#right_content #listeetudiant li{
    margin: 10px auto;
    width: 50px;
    height: 50px;
    list-style-type: none;
    position: relative;
}

#right_content #listeetudiant li div.name{
    width: 50px;
    height: 50px;
    border-radius:30%;
    text-align: center;
}

#right_content #listeetudiant li div.remove{
    background: url(../images/remove_student.png) no-repeat;
    background-size: 10px;
    background-position: top right;
    position: absolute;
    right: 0;
    top:0;
    width: 10px;
    height: 10px;
    z-index: 10;
    cursor:pointer;
}

#right_content #listeetudiant li:last-child img{
    width:80%;
    height: auto;
}


main{
    width: auto; /* S'adapte automatiquemen*/
    overflow: scroll;/* pour que main prenne en compte left_content et right_content*/
    height: 100%;
    background-color: #cccccc;
}

.box{
    box-sizing: border-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);

}


main header {
    width: 80%;
    height: 70px;
    background-color: white;
    margin: 2.5% auto;
    text-align: center;
    padding: 8px;
    line-height: 20px;
    overflow: hidden;
    z-index:99999;
    position:fixed;
}

/** RECHERCHE */
main header.box #left_header{
    width: 7%;
    float:left;
    height: 55px;
    text-align: center;
    line-height: 20px;


}

main header.box div#left_header span.border{

    vertical-align: middle;
    display: inline-block;
    border-right:1px solid gray;
    padding-right: 1%;
    padding-left:1%;
    height: 55px;


}

main header.box div#left_header img{
    padding: 5px 5% 5px 5%;
    margin-right: 15%;
    vertical-align: middle;

    width: auto;
    height: 30px;
}


/* PARAM */
main header.box #right_header{
    float:right;
    width: 7%;
    height: 55px;

    text-align: center;
    line-height: 20px;


}



main header.box div#right_header span.border{

    vertical-align: middle;
    display: inline-block;
    border-right:1px solid gray;
    padding-right: 1%;
    padding-left:1%;
    height: 55px;
}



main header.box div#right_header img{
    width: auto;
    height: 30px;
    padding: 5px 5% 5px 5%;
    vertical-align: middle;
    margin-left: 15%;

}



/* BLOC DU CENTRE HEADER */

main header.box #center_header{
    /*margin:0 auto !important;*/
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100%;
    text-align: left;
    padding-bottom: 10px;

}
main header.box div#center_header nav{
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 55px;
    top:18px;
    right: 0;
    left:0;
    bottom: 0;
    margin: 0 auto;
}

main header.box div#center_header nav > a {
    text-decoration: none;
    color : #333;
    padding: 0 3% 0 3%;
}





/** A voir  comme en dessous ou avec table cell et centre au milieu de la cellule !**/


/*cubic-bezier(0.9, 0.460, 0.450, 0.940)*/
nav.ng-hide-add.ng-hide-add-active {

 /*   -webkit-transition:  margin 1s cubic-bezier(0.9, 0.460, 0.450, 0.940), opacity 1s cubic-bezier(0.9, 0.460, 0.450, 0.940) ;
   */
    -webkit-transition:  all 0.2s cubic-bezier(0.9, 0.460, 0.450, 0.940) ;
    -webkit-transform: translateX(40%);
        display: block !important;

}

/* A partit de là */
nav.ng-hide-remove{
    display: block!important;
    position:absolute ;
    right:-100000px;
    opacity: 0;
    width: 100%;
    height: 55px;
    top:18px;
    bottom: 0;
    text-align: right;
}

/* ANIMATION */
nav.ng-hide-remove-active{

 /*   -webkit-transition:  margin-left  1s cubic-bezier(0.9, 0.460, 0.450, 0.940), opacity 1s cubic-bezier(0.9, 0.460, 0.450, 0.940) ;

*/
    -webkit-transition: all  1s cubic-bezier(0.9, 0.460, 0.450, 0.940);
    -webkit-transform: translateX(-40%);


}

/*Caché*/
nav.ng-hide{
    display: block!important;
    position:absolute ;
    right:-100000px;
    opacity: 0;
    width: 100%;
    height: 55px;
    top:18px;
    bottom: 0;
    text-align: right;
}

input[name="RechercheGenerale"]{
    position: absolute;
    opacity: 1;
    width: 60%;
    height: 45px;
    top:2px;
    right: 0;
    left:0;
    bottom: 0;
    margin:0 2% auto;
    font-size: 28pt;
}

input[name="RechercheGenerale"].ng-hide{
    margin: 0 -1% auto;
    opacity: 0;


}

/** Afficher input **/
input[name="RechercheGenerale"].ng-hide-add.ng-hide-add-active {


    -webkit-transition: all 0.7s cubic-bezier(0.9, 0.460, 0.450, 0.940);


}
/* cacher le input */
input[name="RechercheGenerale"].ng-hide-remove.ng-hide-remove-active{
    -webkit-transition: all 1s cubic-bezier(0.9, 0.460, 0.450, 0.940);
}

/** L'espace des widgets indicateur **/

#content{
    position: relative;
    overflow-y: hidden;
    margin-top:140px;
}

#indicateurArea{
    overflow: hidden;
    padding-bottom: 10px;
}

/** CSS Widget indicateur **/

.indicateurBloc{
    border : solid grey;
    height : 250px;
    width : 70%;
    background: blue;
    margin:auto;
}

.indicateurBlocTitre{
    border-bottom: solid grey;
    height: 50px;
    background-color:red;
}

.indicateurBlocContenu{
    height: 200px;
    background-color:green;
}